.carrito,
.carrito h1,
.carrito h2,
.carrito p,
.carrito span {
    color: #ffffff;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;

    display: flex;
    flex-direction: column;

    /* CAMBIO PRINCIPAL */
    background: #000000;
}

.item-carrito {
    background: #121212; /* negro elegante */
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.item-carrito {
    border: 1px solid #2a2a2a;
}

/* HEADER */
.header {
    padding: 15px 40px;
    background: #0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5c542;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav a {
    color: #ccc;
    margin-left: 25px;
    text-decoration: none;
    font-size: 15px;
}

.nav a:hover {
    color: #fff;
}


/* ====== TOAST DE CONFIRMACIÓN ====== */
.toast-notify {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background:#f5c542;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    opacity: 0;
    transform: translateY(30px);
    transition: all .4s;
    z-index: 9999;
}

.toast-show {
    opacity: 1 !important;
    transform: translateY(0) !important;
}